.mainDiv5{
    background: hsla(208, 68%, 22%, 0.90);
    border-radius: 5px;
    padding: 2rem 3rem;
    margin: 2rem 5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.userInDiv{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}


.useDiv{
    display: grid;
    grid-template-rows: auto auto;
}
.inDiv{
    background: hsla(208, 68%, 22%, 0.90);
    
    border-radius: 5px;
    padding: 2rem 10rem;
    margin: 2rem 5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    max-width: 95%;
    height: auto;
}
.user1{
    width: 100%;
    border: none;
    border-radius: 3px;
    /* padding: 0.8rem; */
    margin:0;
    color:aliceblue;
}
.user1 input{
    height: 30px;
    border-radius: 5px;
    width:"95%";
    background-color: whitesmoke;
    color: blue;
}
.inImgDiv{
    margin-top: 20px;
}
.inImgDiv p{
    color:aliceblue;
}
.dec p{
    color:aliceblue;
}
div.required-field p::after { 
    content: "*";
    color: red;
}
.butDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.next {
    background-color: hsl(147, 50%, 47%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 2px;
    padding: 0.8rem;
    margin: 1rem 0;
}

.nextDis{
    background-color: hsl(147, 50%, 47%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 2px;
    padding: 0.8rem;
    margin: 1rem 0;
}

.next:hover {
    background-color: hsl(201, 54%, 52%);
    transition: 350ms ease-out;
    transform: scale(1.05);
    cursor: pointer;
}

.back {
    background-color: hsl(201, 54%, 52%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 2px;
    padding: 0.8rem;
    margin: 1rem 0;
}

.back:hover {
    background-color: hsl(147, 50%, 47%);
    transition: 350ms ease-out;
    transform: scale(1.05);
    cursor: pointer;
}

.signup{
    color: hsl(0, 0%, 100%);
    text-align: center;
}
