.mainDiv{
    background: url(../assets/b2.jpg) center no-repeat hsla(208, 68%, 22%, 1);;
    background-size: cover;
    margin:auto;
    padding-left: 40%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
}
.inDiv{
    background: hsla(208, 68%, 22%, 0.90);
    border-radius: 5px;
    padding: 2rem 3rem;
    margin: 2rem 5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    max-width: 95%;
    height: auto;
}
.username{
    width: 100%;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    /* padding: 0.8rem; */
    margin: 0.5rem 0 1.8rem 0;
    color:aliceblue;
}
.username input{
    height:30px;
    border-radius: 3px;
}

.next {
    background-color: hsl(147, 50%, 47%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 2px;
    padding: 0.8rem;
    margin: 1rem 0;
}

.submit{
    background-color: hsl(201, 54%, 52%);
    height: 30px;
    color:black;
    font-weight: 600;
    border: 1px solid ;
    border-radius: 3px;
    transition: 350ms ease-out;
    transform: scale(1.05);
    cursor: pointer;
}
.submit:hover {
    background-color: hsl(201, 54%, 52%);
    transition: 350ms ease-out;
    transform: scale(1.05);
    cursor: pointer;
}
.signup{
    color: hsl(0, 0%, 100%);
    text-align: center;
}